.box{
    height: 500px;
    width: 1100px;
    border: solid black 1px;
    margin: auto;
}
.left{
    height: 500px;
    width: 500px;
    border: solid black 1px;
    float: left;
    background-size: cover;
}
.right{
    height: 500px;
    width: 595px;
    border: solid black 1px;
    float: left;
    background-color: yellow;
}
.h1_c{
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 35px;
}
.p_c{
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;

}
.hr_c{
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;

}
.h2_c{
    
    text-align: center;
}
.p_1{
    color: rgb(160, 25, 218);
    font-size: 20px;
    
}